<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Neranga Urapola</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/skeleton.css"/>
	<link rel="stylesheet" href="/css/layout.css"/>
	<link rel="stylesheet" href="/css/colorbox.css"/>
	
    <!--[if lte IE 8]>
        <script src="/js/html5.js"></script>
    <![endif]-->		
		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favi.png">
	<link rel="apple-touch-icon" href="/images/icons8-api-48.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons8-api-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icons8-api-icon-114x114.png">
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
	
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>	

	<!-- Home
	================================================== -->
		<a href="" id="arrow_left"></a>
		<a href="" id="arrow_right"></a>	
		<div id="maximage">
			<img src="/images/1.jpg" alt=""/>
			<img src="/images/2.jpg" alt=""/>
			<img src="/images/3.jpg" alt=""/>
		</div>
	<div id="home">
		<div class="home-text">
			<div class="container">
				<div class="sixteen columns">
					<div class="home-text-top">WEL COME TO MY PAGE</div>
				</div>
			</div>
			<div class="container">
			</div>
			<div class="container">
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="home-text-bottom">Neranga Urapola (Neo)</div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="cl-effect-18">
						<a href="/download/resume" data-hover="Resume">Resume</a>
						<a href="https://www.linkedin.com/in/neranga-u-5560ba132/" data-hover="Linkedin">Linkedin</a>
						<a href="https://github.com/neranga6" data-hover="GitHub">GitHub</a>
					</div>
				</div>
			</div>
		</div>
	<div id="arrow"><a href="#profile" class="scroll" >About Me</a></div>
	</div>	

<div id="cbp-so-scroller" class="cbp-so-scroller">
	<nav id="navigation">
		<a href="#home" class="scroll"/>
                    <ul id="menu">
                        <li class="current">
                            <a href="#home" class="scroll">Home</a>
                        </li>
                        <li class="current">
                            <a href="#profile" class="scroll">About Me</a>
                        </li>
                        <li class="current">
                            <a href="#contact" class="scroll">contact</a>
                        </li>
                    </ul>
	</nav>		
	<div id="profile">
		<div class="title">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1 style="font-family:'Times New Roman'"><strong><span>ABout</span>&nbspMe</strong></h1>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h10><span> My name is Neranga Urapola. and I'm thrilled to connect with professionals like you in this dynamic network.
              With a passion for leveraging technology to drive innovation, I have honed my skills as a software engineer
              with expertise in full-stack development. Over the years, I have had the opportunity to work on a wide range of projects,
              from developing robust web applications to designing scalable and efficient backend systems.
              My journey in the field of software engineering has allowed me to gain a deep understanding of various programming languages,
              frameworks, and tools. Whether it's utilizing JavaScript libraries like React or building RESTful APIs with Spring-boot,
              I thrive on the challenges that come with staying up-to-date with the latest industry trends and incorporating them into my work.
              Collaboration is at the core of my professional approach.</span></h10>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
			<div class="title">
		<div class="container">
			<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-left">
<!--		   <div class="eight columns cbp-so-side cbp-so-side-left">-->
<!--			<div class="profile-proces">-->
					<h4 style="font-family:'Times New Roman'"><strong><span>Nature</span></strong>&nbspOf&nbspWork</h4><div>
	     </div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<div class="profile-icon"><div class="font-icon">&#xf109;</div></div>
				<p>I enjoy working within cross-functional teams, where I can contribute my technical expertise
					while learning from the diverse perspectives of my colleagues.I believe that fostering a collaborative environment leads to more innovative
					solutions and paves the way for successful project outcomes.As a continuous learner, I actively seek opportunities to expand my skill
					set and stay ahead in the ever-evolving world of technology.I am dedicated to improving my problem-solving abilities and exploring
					new frameworks or methodologies that can enhance efficiency and deliver exceptional user experiences.Beyond coding,I am passionate about sharing knowledge and mentoring others.
					I believe in giving back to the community by engaging in technical discussions, participating in hackathons, and contributing to open-source projects.
					Being a part of a vibrant tech community has been invaluable in my growth as a professional, and I'm always excited to connect with like-minded individuals who share the same passion.
					If you're interested in discussing potential collaboration opportunities, industry trends, or simply sharing insights, please don't hesitate to reach out.
					I'm eager to connect with professionals from diverse backgrounds and industries, as I strongly believe that diverse perspectives drive innovation and foster creativity.
					Thank you for visiting my profile, and I look forward to connecting with you!</p>
			</div>
			</div>
			</section>
			</div>
			</div>
	<div id="services">
		<div class="title">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h4 style="font-family:'Times New Roman'"><strong><span>Get Your</span></strong></h4>
					<div><h4 style="font-family:'Times New Roman'"><strong><span>Quote Today!</span></strong></h4></div><div></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h7>I DELIVER SERVICES WITH YEARS OF EXPERIENCE.</h7>
				</div>
			</section>
			</div>
		</div>	
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="one-third column cbp-so-side cbp-so-side-left">
				<div class="services-offer">
					<h5 style="font-family:Serif">Design & Hosting</h5>
					<div class="services-icon1"></div>
					<div class="services-list">
						<ul class="list-services">
							<li><p>Product Design</p></li>
							<li><p>User Interface</p></li>
							<li><p>Illustrations</p></li>
							<li><p>Web Hosting & DomainNames</p></li>
							<li><p>Digital Installations</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="one-third column cbp-so-side cbp-so-side-right">
				<div class="services-offer">
					<h5 style="font-family:Serif">Web Development</h5>
					<div class="services-icon2"></div>
					<div class="services-list">
						<ul class="list-services">
							<li><p>Web App Integration Services</p></li>
							<li><p>Web Design and Development</p></li>
							<li><p>Cloud Deployment</p></li>
							<li><p>Web App Maintenance </p></li>
							<li><p>Ecommerce Development Solutions</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="one-third column cbp-so-side cbp-so-side-right1">
				<div class="services-offer">
					<h5 style="font-family:Serif">API-Development</h5>
					<div class="services-icon3"></div>
					<div class="services-list">
						<ul class="list-services">
							<li><p>Custom REST API Integration</p></li>
							<li><p>REST Spring-Boot API Development</p></li>
							<li><p>API Maintains</p></li>
							<li><p>Ecommerce API Development </p></li>
							<li><p>IAAS Server Maintains</p></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		</div>
		</div>
	   </div>
	<div id="contact">
		<div class="title">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1 style="font-family:'Times New Roman'"><strong><span>LET'S</span></strong></h1><div><h1 style="font-family:'Times New Roman'"><strong>HAVE A CHAT</strong></h1></div>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<form action="/contact" method="post">
				<h4 style="font-family:Serif">Say Hello</h4>
					<label for="name">Name: * 
						<span class="error" id="err-name">please enter name</span>
					</label>
					<input type="text" placeholder="Name " id="name" name="name" required>
					<label for="email">E-Mail: * 
						<span class="error" id="err-email">please enter e-mail</span>
						<span class="error" id="err-emailvld">e-mail is not a valid format</span>
					</label>
					<input type="email" placeholder="Email"id="email" name="email" required>
					<label for="message">Message:</label>
					<textarea type="message"  id="message" name="message" class="message_input"  style="height:200px"></textarea>
					<button type="submit">Submit</button>
					<div class="error" id="err-form">There was a problem validating the form please check!</div>
					<div class="error" id="err-timedout">The connection to the server timed out!</div>
					<div class="error" id="err-state"></div>
				</form>
				<form action="/success" method="post">
				<div id="ajaxsuccess">Successfully sent!!</div>
				</form>
			</div>
		</section>	
		</div>
		</div>
		<div class="background-pat1-last">	
		<div class="contact-info">
		</div>
	</div>
	</div>
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/js/classie.js"></script>
<script type="text/javascript" src="/js/cbpScroller.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/js/jquery.maximage.js"></script>
<script type="text/javascript" src="/js/jquery.knob.js"></script>
<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.typer.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/template.js"></script>
<!-- End Document
================================================== -->
</body>
</html>